<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Digimon Api</title>
    <link href="https://fonts.googleapis.com/css?family=Lato%7CRaleway" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2436fc0b94.js" crossorigin="anonymous"></script>
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="js/main.js"></script>
</head>
<body>

    <div class="grid-con">
        <div class="col-span-full">
            <img src="images/Digidevice.svg" alt="">
        </div>
    </div>
    
    <div class="grid-con" id="app">
        <div class="col-span-full">
            <div class="carousel-item">
                <h3 v-if="charactersData.length > 0">Title <a href="#digimon" @click="getDigimon(charactersData[count].name)">{{charactersData[count].name}}</a></h3>
                <img v-if="charactersData.length > 0" :src="'images/' + charactersData[count].image" :alt="charactersData[count].name">
                <h4 v-if="charactersData.length > 0">Trainer: {{charactersData[count].fullname}}</h4>
            </div>
        </div>
    
        <div class="grid-con">
            <div class="col-span-full">
                <button id="previous" @click="previousDigimon">
                    <i class="fa-solid fa-circle-left"></i>
                </button>
                <button id="next" @click="nextDigimon">
                    <i class="fa-solid fa-circle-right"></i>
                </button>
            </div>
        </div>
    
        <div class="col-span-full" id="digimonInfoCon">
            <div v-if="error">{{error}}</div>
            <div id="digimon" v-if="!error">
                <p>Levels: {{levels}}</p>
                <p>Fields:
                    <div v-for="field in fields">
                        <img :src="field" alt="Digimon Image">
                    </div>
                </p>
                <p>Type: {{types}}</p>
                <p>Attributes: {{attributes}}</p>
            </div>
        </div>
    </div>
    
    
</html>

