h2 {
    color: crimson;
    margin-top: 20px;
    font-size: 38px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

#digimon-list {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    // margin-top: 40px;
}

#digimon-list li {
    margin-bottom: 30px;
}

/* Add your custom CSS styles here */
#previous,
#next {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

#previous:hover,
#next:hover {
    background-color: #0056b3;
}

#previous i,
#next i {
    font-size: 24px;
}

/* CSS for the carousel */

// .carousel {
//     display: flex;
//     overflow-x: hidden; 
//     width: 100%;
//     transition: transform 0.5s ease;
// }

#digimon-box {
    position: relative; 
    width: fit-content; 
    height: fit-content; 
    margin: auto; 
}

#digimon-box img {
    display: block;
    margin: auto;
    max-width: 100%; 
    height: auto; 
}

.carousel-item {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, 50%); 
    z-index: 1;
    text-align: center;
}

#digimon-in-device{
    width: 40%;
}


#button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: calc(100% - 100px); 
    top: 100%;
    transform: translateY(-50%);
    padding: 0 150px; 
}

